.footer{    
    background-color: #232F3E;
    position: relative;
    color: #fff;
    bottom: -77px;
}
.footer__backToTop{
    background-color: #37475a;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}
.footer__backToTop:hover{
    background-color: #485769;
    cursor: pointer;
}
.footer__content{
    padding: 3rem 0 0;
    max-width: 1000px;
   display: flex;
   margin: 0 auto;
}
.footer__navLink1{
    display: table-cell;
    padding: 0 10px;
    flex: 0 0 25%;
    max-width: 25%;
    line-height: 1.8;
}
.footer__navLink1Head{
    color: #fff;
    font-weight: 700;
    margin-bottom: .5rem;
}
a{
    color: inherit;
}
a:hover{
    color: inherit;
    text-decoration: underline;
}
.footer__navLink1 > ul{
    padding-inline-start: 0;
}
.footer__navLink1 > ul > li{
    list-style: none;
    font-size: 14px;
}