.order{
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: #fff;
    position: relative;
}
.order > h2{
    margin-bottom: 0;
    font-weight: 500;
}
.order__id{
    position: absolute;
    top: 40px;
    right: 20px;
}
.order__total{
    font-weight: 500;
    text-align: right;
}
.orders{
    padding: 0 80px;
}
.orders > h2{
    margin: 15px 0;
}